<div class="row">
  <div class="col-md-6 mx-auto mt-5">
      <div class="card bg-light mb-3">
          <div class="card-header">LOGIN</div>
          <div class="card-body">
                  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                          <label class="card-text">Correo electronico</label>
                          <input type="text" class="form-control" formControlName="email" required>
                      </div>
                      <div class="form-group">
                          <label class="card-text">Clave</label>
                          <input type="password" class="form-control" formControlName="password" required>
                      </div>
                      <br>
                      <input type="submit" value="Submit">
                  </form>
                  <hr>
                  <button class="btn btn-lg btn-google" (click)="onClick()">Login With Google</button>
                  <div class="form-group mt-3">
                    <p>
                      Create an account? <a [routerLink]="['/register']"> Register </a>
                    </p>
                  </div>
                  <div class="form-group mt-3">
                    <button (click)="fillForm()">Acceso Rapido</button>
                  </div>
          </div>
      </div>
  </div>
</div>