<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card bg-light mb-3">
            <div class="card-body">
            <p>Maria Luana Jaimez - Legajo: 109801</p>
            <img src="assets/foto-alumno/MiFoto.PNG" alt="Luana Jaimez">
            <p>Juego: El juego de la viborita</p>
            <p>Consistira en un juego donde manejamos una serpiente y la misma debera ir comiendo los items que aparecen en el tablero para poder sumar puntos. <br>
                Las unicas reglas son: <br>
                - La serpiente no puede chocar contra las paredes <br>
                - La serpiete no puede comerse a si misma
            </p>
            </div>
        </div>
    </div>
</div>